<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Change Role</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded" th:method="POST"
          th:action="@{/user/addRole}"
          th:object="${userRoleBindingModel}">


        <div th:if="${hasAddRoleError}" class="text-danger">Add role error has occurred!</div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="username" class="h4 mb-2">Select User</label>
            </div>
            <select class="form-control" id="username"  th:field="*{username}"
                    th:errorclass="bg-danger">
                <option value="0">select option</option>
                <option th:each="user : ${allUsersOrderByName}" th:value="${user.username}" th:text="${user.username}"></option>
            </select>
        </div>

        <div class="form-group">

            <div class="text-white label-holder d-flex justify-content-center">
                <label for="petName" class="h4 mb-2">Select Role</label>
            </div>
            <select class="form-control" id="petName"  th:field="*{role}"
                    th:errorclass="bg-danger">
                <option value="0">select option</option>
                <option th:each="role : ${allRoles}" th:value="${role.getRoleName()}" th:text="${role.getRoleName()}"></option>
            </select>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Change role</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
