<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div th:object="${allOwnersOrderByName}" class="container bg-blur rounded mt-5 det">
        <h1 class="dethead" th:unless="${allOwnersOrderByName.size()==0}">Pet's owners</h1>
        <h1 class="dethead" th:if="${allOwnersOrderByName.size()==0}">No Registered owners!</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr th:unless="${allOwnersOrderByName.size()==0}">
                <th>Owner name</th>
                <th>Owner phone</th>
                <th>Owner's pets</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${allOwnersOrderByName}">
                <td th:text="${owner.getName()}"></td>
                <td th:text="${owner.getPhone()}"></td>
                <td><a th:href="@{/owner/pets/{id}(id = ${owner.getId()})}" style="display:block;">Pets</a></td>
                <td>
                    <form method="POST" th:action="@{/owner/remove/{id}(id = ${owner.getId()})}">
                        <button type="submit" name="submit" value="value" class="link-button">Remove Owner</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>