<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div  th:object="${allUsersOrderByName}" class="container bg-blur rounded mt-5 det">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>User name</th>
                <th>User's roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allUsersOrderByName}">
                <td th:text="${user.getUsername()}"></td>

                <td><a th:href="@{/user/roles/{id}(id = ${user.getId()})}" style="display:block;">Manage roles</a></td>
                <td>
                    <form th:method="POST" th:action="@{/user/remove/{id}(id = ${user.id})}">
                        <button type="submit" name="submit" value="value" class="link-button">Remove User</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>